// Fontes
$fonte: 'Roboto', sans-serif;

// Tamanho das fontes
$fonte-size-title: 3rem;

// Cores
$cor-primaria: #424f71;
$cor-secundaria: #629992;
$cor-terciaria: #f4e797;

// $cor-primaria: #FFF8DE;
// $cor-secundaria: #D6E8DB;
// $cor-terciaria: #99A98F;
